<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuc.movie.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="cn.edu.nuc.movie.entity.Orders">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="uid" jdbcType="INTEGER" property="uid"/>
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="ordertime" jdbcType="DATE" property="ordertime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <association property="user" javaType="cn.edu.nuc.movie.entity.User" column="uid">  
        <id column="uid" jdbcType="INTEGER" property="uid" />
	    <result column="uname" jdbcType="VARCHAR" property="uname" />
	    <result column="uphone" jdbcType="VARCHAR" property="uphone" />
	    <result column="uaddr" jdbcType="VARCHAR" property="uaddr" />
    </association>
  </resultMap>
  <resultMap id="FrontOrdersMap" type="cn.edu.nuc.movie.entity.Orders" extends="BaseResultMap">
  	  <collection property="orderItems" ofType="cn.edu.nuc.movie.entity.Orderitem" >  
            <id column="itemid" jdbcType="INTEGER" property="itemid" />
		    <result column="oid" jdbcType="INTEGER" property="oid" />
		    <result column="count" jdbcType="INTEGER" property="count" />
		    <result column="subtotal" jdbcType="DECIMAL" property="subtotal" />
		    <association property="movie" javaType="cn.edu.nuc.movie.entity.Movie" column="movieid">  
		       <id column="movieid" jdbcType="INTEGER" property="movieid" />
			   <result column="csid" jdbcType="INTEGER" property="csid" />
			   <result column="mname" jdbcType="VARCHAR" property="mname" />
			   <result column="mimage" jdbcType="VARCHAR" property="mimage" />
		    </association> 
    </collection>  
  </resultMap>
  <sql id="Base_Column_List">
    oid, uid, total, ordertime, state, name, phone, addr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <select id="findOrdersCount" resultType="int">
  select count(*) from orders
  </select>
  <select id="findCountByUid" parameterType="java.lang.Integer" resultType="int">
  select count(*) from orders where uid = #{uid,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="FrontOrdersMap">
	    select o.*,oi.*,u.*,m.*
		from orders o,orderitem oi,user u,movie m 
		where oi.oid = o.oid and u.uid = o.uid and m.movieid = oi.movieid
  </select>
  <select id="findByPage" parameterType="java.lang.Integer" resultType="cn.edu.nuc.movie.entity.Orders">
      SELECT
		<include refid="Base_Column_List" />
	  FROM
		orders 
	ORDER BY
		ordertime DESC
	LIMIT #{begin},#{limit}
  </select>
  <select id="findPageByUid" parameterType="java.lang.Integer" resultType="cn.edu.nuc.movie.entity.Orders">
     SELECT
		<include refid="Base_Column_List" />
	  FROM
		orders 
	  where uid = #{uid,jdbcType=INTEGER}
	ORDER BY
		ordertime DESC
	LIMIT #{begin},#{limit}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.movie.entity.Orders" useGeneratedKeys="true" keyProperty="oid">
    insert into orders (oid, uid, total, 
      ordertime, state, name, 
      phone, addr)
    values (#{oid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{total,jdbcType=DECIMAL}, 
      #{ordertime,jdbcType=DATE}, #{state,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.movie.entity.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="ordertime != null">
        ordertime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="addr != null">
        addr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null">
        #{ordertime,jdbcType=DATE},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.movie.entity.Orders">
    update orders
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="ordertime != null">
        ordertime = #{ordertime,jdbcType=DATE},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.movie.entity.Orders">
    update orders
    set uid = #{uid,jdbcType=INTEGER},
      total = #{total,jdbcType=DECIMAL},
      ordertime = #{ordertime,jdbcType=DATE},
      state = #{state,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
</mapper>